[submodule ".vim_runtime/sources_non_forked/diffconflicts.vim"]
	path = .vim_runtime/sources_non_forked/diffconflicts.vim
	url = https://github.com/whiteinge/diffconflicts.git
[submodule ".vim_runtime/my_plugins/cscope.vim"]
	path = .vim_runtime/my_plugins/cscope.vim
	url = https://github.com/vim-scripts/cscope.vim.git
[submodule ".vim_runtime/my_plugins/taglist.vim"]
	path = .vim_runtime/my_plugins/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim_runtime/my_plugins/YouCompleteMe"]
	path = .vim_runtime/my_plugins/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
